@model IEnumerable<AWS_SQS_Kinesis.Models.QueueModel>

  @{
    ViewData["Title"] = "Index";
  }

  <h2>Index</h2>
  <p>
    <a asp-action="Create">Create New Queue</a>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.QueueName)
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.QueueName)
        </td>
        <td>
          @Html.ActionLink("View Message","Messages", "Message", new { url=item.QueueName },htmlAttributes: null)
          @Html.ActionLink("Send Message","Send", "Message", new { url=item.QueueName },htmlAttributes: null)
          @Html.ActionLink("Delete","Delete", "Message", new { query=item.QueueName },htmlAttributes: null)
        </td>
      </tr>
}
    </tbody>
  </table>
