@model PDM.Model.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-primary form-control-static textalign-center">Product Details</div>
<div class="row">
    <div class="col-sm-4">


        <dl class="dl-horizontal">
            <dt>
                <label for="txtProductName">Product Name :</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                <label for="txtProductNumber">Product Number :</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductNumber)
            </dd>

            <dt>
                <label for="txtProductName">Color :</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>

            <dt>
                <label for="txtProductName">Sell Start Date :</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SellStartDate)
            </dd>

            <dt>
                <label for="txtProductName">Standard Cost :</label>
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.StandardCost)
            </dd>

            <dt>
                <label for="txtProductName">List Price :</label>
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.ListPrice)
            </dd>
        </dl>
    </div>


    <div class="col-sm-4">

        <dl class="dl-horizontal">

            <dt>
                <label for="txtProductName">Size :</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>

            <dt>
                <label for="txtProductName">Weight :</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Weight) /Kg
            </dd>

            <dt>
                <label for="txtProductName">Style :</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Style)
            </dd>

            <dt>
                <label for="txtProductName">Product Model :</label>
            </dt>
            <dd>
                @if (Model.ProductModelCollection.Count() > 0)
                {
                    var item = Model.ProductModelCollection.Where(x => x.ProductModelID == Model.ProductModelId).FirstOrDefault();
                    @Html.DisplayFor(model => model.Name)
                }
            </dd>
            <dt>
                <label for="txtProductName">Product  Category :</label>
            </dt>
            <dd>
                @if (Model.ProductCategoryCollection.Count() > 0)
                {
                    var item = Model.ProductCategoryCollection.Where(x => x.ProductCategoryID == Model.ProductSubCategoryID).FirstOrDefault();
                    @Html.DisplayFor(model => item.Name)
                }
            </dd>
            <dt>
                <label for="txtProductName">Product Sub Category :</label>
            </dt>
            <dd>
                @if (Model.ProductSubCategoryCollection.Count() > 0)
                {
                    var item = Model.ProductSubCategoryCollection.Where(x => x.ProductCategoryID == Model.ProductSubCategoryID).FirstOrDefault();
                    @Html.DisplayFor(model => item.Name)
                }
            </dd>


        </dl>
    </div>

    <div class="col-sm-4">
        <img src="@Url.Action("GetImage", "Product", new { id = Model.PhotoID })">
    </div>
</div>

<div class="form-actions no-color pull-right">
    @Html.ActionLink("Back to List", "Index")
</div>
