@model PDM.Model.Product
@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.PhotoID);
    @Html.HiddenFor(m => m.ProductID);
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="txtProductName">Product Name:</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "txtProductName" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                <label for="txtProductNumber">Product Number:</label>
                @Html.TextBoxFor(m => m.ProductNumber, new { @class = "form-control", @id = "txtProductNumber" })
                @Html.ValidationMessageFor(m => m.ProductNumber)
            </div>
            <div class="form-group">
                <label for="txtMakeFlag">Make Flag:</label>
                @Html.CheckBoxFor(m => m.MakeFlag)
                @Html.ValidationMessageFor(m => m.MakeFlag)
            </div>

            <div class="form-group">
                <label for="txtProductColor">Color:</label>
                @Html.TextBoxFor(m => m.Color, new { @class = "form-control", @id = "txtProductColor" })
                @Html.ValidationMessageFor(m => m.Color)
            </div>
            <div class="form-group">
                <label for="txtProductColor">Sell Start Date:</label>
                @Html.TextBoxFor(m => m.SellStartDate, new { @class = "form-control datepicker", @id = "txtSellDate", @type = "date" })
                @Html.ValidationMessageFor(m => m.SellStartDate)
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label for="txtStandardCost">Standard Cost</label>
                @Html.TextBoxFor(m => m.StandardCost, new { @class = "form-control", @id = "txtStandardCost" })
                @Html.ValidationMessageFor(m => m.StandardCost)
            </div>
            <div class="form-group">
                <label for="txtListPrice">List Price:</label>
                @Html.TextBoxFor(m => m.ListPrice, new { @class = "form-control", @id = "txtListPrice" })
                @Html.ValidationMessageFor(m => m.ListPrice)
            </div>
            <div class="form-group">
                <label for="txtSize">Size:</label>
                @Html.TextBoxFor(m => m.Size, new { @class = "form-control", @id = "txtSize" })
                @Html.ValidationMessageFor(m => m.Size)
            </div>
            <div class="form-group">
                <label for="txtWeight">Weight:</label>
                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", @id = "txtWeight" })
                @Html.ValidationMessageFor(m => m.Weight)
            </div>
            <div class="form-group">
                <label for="txtStyle">Style:</label>
                @Html.TextBoxFor(m => m.Style, new { @class = "form-control", @id = "txtStyle" })
                @Html.ValidationMessageFor(m => m.Style)
            </div>
        </div>

        <div class="col-sm-3">

            <div class="form-group">
                <label for="txtProductNumber">Product Model:</label>
                @Html.Partial("ModelDropDown", Model.ProductModelCollection)
            </div>

            <div class="form-group">
                <label for="txtProductName">Category:</label>
                @Html.Partial("CategoryDropDown", Model.ProductCategoryCollection)
            </div>
            <div class="form-group">
                <label for="txtProductNumber">sub Category:</label>
                @Html.Partial("SubCategoryDropDown", Model.ProductSubCategoryCollection)
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label for="txtProductName">Photo:</label>
                <input type="file" name="file" id="txtProductName">
            </div>
            <img src="@Url.Action("GetImage", "Product", new { id = Model.PhotoID })" />
        </div>
    </div>
    <div class="form-actions no-color pull-right">
        <button type="submit" value="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save Changes</button> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
@section scripts
{
    <script src="~/Scripts/product.js"></script>
}


