@model IEnumerable<SharePointMvc.Models.Discussion>

@{
    ViewBag.Title = "Discussion";
}

<h2>Discussion</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsQuestion)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.Raw(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsQuestion)
        </td>
    </tr>
}
</table>
