@model IEnumerable<MVC_CRUD_Using_Entity_Framework_Code_First.Models.EmployeeDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEmailId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpEmailId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeDetailsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeDetailsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeDetailsId })
        </td>
    </tr>
}

</table>
