@model MvcApplication.Models.UserModel
@{
    ViewBag.Title = "Admin Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                After authentication is successful you can see this page with the name and email
                address of the authenticated user from claims in the security token. For a more 
                complete explanation of how the sample works, please refer to the readme.html file 
                in the VS solution or to the sample’s <a href="http://code.msdn.microsoft.com/Claims-Aware-MVC-523e079b">online description</a>.
            </p>
        </div>
    </section>
}
<p>
    Hi there, <b>@Html.Encode(Model.UserName) @Html.Encode(Model.LastName)</b>(@Html.Encode(Model.Email))!
    Welcome to the Admin page.
</p>
