@model IEnumerable<MovieModel>

@{
    ViewData["Title"] = "Movies";
    List<MovieModel> moviesList = (List<MovieModel>)ViewData["MoviesList"];
}

<h2>Movies</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Release Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunningTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in moviesList)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", new { id = item.MovieID })
                </td>
                <td>
                    <img src="@item.Logo" alt="Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunningTime)
                </td>
            </tr>
        }
    </tbody>
</table>
