@model NetCoders.Agenda.UI.Web.Models.AgendaVM
@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div>
    @if (TempData["sucesso"] != null)
    {
        @Html.Partial("_PartialMsgSucesso");
    }
    else if (TempData["erro"] != null)
    {
        @Html.Partial("_PartialMsgErro");
    }
</div>

<fieldset>
    <legend>Sua Agenda</legend>

    <div class="container">
        @if (Model.Agendas.Count() == 0)
        {
            <h3>Nenhum evento encontrado.h3>
        }
        else
        {
            @foreach (var evento in Model.Agendas)
            {
                <h3>@evento.Titulo <small>&raquo; @evento.Data.ToLongDateString()</small></h3>
                <p>
                    @evento.DescricaoSimples
                </p>
                <a class="btn btn-success" id="btnMais" href="Detalhes/@evento.Codigo">Mais...</a>
                <hr />
            }
        }
    </div>
</fieldset>
