<!DOCTYPE HTML>
<html>
    <head><script type="text/javascript">
//<![CDATA[
              try { if (!window.CloudFlare) { var CloudFlare = [{ verbose: 0, p: 0, byc: 0, owlid: 0, mirage: 0, oracle: 0, paths: { cloudflare: "/cdn-cgi/nexp/v=2965651658/" }, atok: "335502269b363abb822d938a5089ae47", zone: "alessioatzeni.com", rocket: "0", apps: { "dnschanger_detector": { "fix_url": null}}}]; document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/v=3037830340/cloudflare.min.js"><' + '\/script>') } } catch (a) { };
//]]>
</script>
        <script type="text/javascript">
//<![CDATA[
            window.__CF = window.__CF || {}; window.__CF.AJS = { "dnschanger_detector": { "fix_url": null} };
//]]>
</script>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Login Modal Dialog Window with CSS and jQuery</title>
        <style type="text/css">
            body{
                background:#202020;
                font:bold 12px Arial, Helvetica, sans-serif;
                margin:0;
                padding:0;
                min-width:960px;
                color:#bbbbbb; 
            }

            a { 
                text-decoration:none; 
                color:#00c6ff;
            }

            h1 {
                font: 4em normal Arial, Helvetica, sans-serif;
                padding: 20px;	margin: 0;
                text-align:center;
            }

            h1 small{
                font: 0.2em normal  Arial, Helvetica, sans-serif;
                text-transform:uppercase; letter-spacing: 0.2em; line-height: 5em;
                display: block;
            }

            h2 {
                color:#bbb;
                font-size:3em;
                text-align:center;
                text-shadow:0 1px 3px #161616;
            }

            .container {width: 960px; margin: 0 auto; overflow: hidden;}

            #content {	float: left; width: 100%;}

            .post { margin: 0 auto; padding-bottom: 50px; float: left; width: 960px; }

            .btn-sign {
                width:460px;
                margin-bottom:20px;
                margin:0 auto;
                padding:20px;
                border-radius:5px;
                background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
                background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
                background:  -o-linear-gradient(top, #00c6ff, #018eb6);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
                text-align:center;
                font-size:36px;
                color:#fff;
                text-transform:uppercase;
            }

            .btn-sign a { color:#fff; text-shadow:0 1px 2px #161616; }

            #mask {
                display: none;
                background: #000; 
                position: fixed; left: 0; top: 0; 
                z-index: 10;
                width: 100%; height: 100%;
                opacity: 0.8;
                z-index: 999;
            }

            .login-popup{
                display:none;
                background: #333;
                padding: 10px; 	
                border: 2px solid #ddd;
                float: left;
                font-size: 1.2em;
                position: fixed;
                top: 50%; left: 50%;
                z-index: 99999;
                box-shadow: 0px 0px 20px #999;
                -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
                -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
                border-radius:3px 3px 3px 3px;
                -moz-border-radius: 3px; /* Firefox */
                -webkit-border-radius: 3px; /* Safari, Chrome */
            }

            img.btn_close {
                float: right; 
                margin: -28px -28px 0 0;
            }

            fieldset { 
                border:none; 
            }

            form.signin .textbox label { 
                display:block; 
                padding-bottom:7px; 
            }

            form.signin .textbox span { 
                display:block;
            }

            form.signin p, form.signin span { 
                color:#999; 
                font-size:11px; 
                line-height:18px;
            } 

            form.signin .textbox input { 
                background:#666666; 
                border-bottom:1px solid #333;
                border-left:1px solid #000;
                border-right:1px solid #333;
                border-top:1px solid #000;
                color:#fff; 
                border-radius: 3px 3px 3px 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                font:13px Arial, Helvetica, sans-serif;
                padding:6px 6px 4px;
                width:200px;
            }

            form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
            form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

            .button { 
                background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
                background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
                background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
                border-color:#000; 
                border-width:1px;
                border-radius:4px 4px 4px 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                color:#333;
                cursor:pointer;
                display:inline-block;
                padding:6px 6px 4px;
                margin-top:10px;
                font:12px; 
                width:214px;
            }

            .button:hover { background:#ddd; }

        </style>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/registerpage.css")" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/register_script.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.auth.js")"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('a.login-window').click(function () {

                    // Getting the variable's value from a link 
                    var loginBox = $(this).attr('href');

                    //Fade in the Popup and add close button
                    $(loginBox).fadeIn(300);

                    //Set the center alignment padding + border
                    var popMargTop = ($(loginBox).height() + 24) / 2;
                    var popMargLeft = ($(loginBox).width() + 24) / 2;

                    $(loginBox).css({
                        'margin-top': -popMargTop,
                        'margin-left': -popMargLeft
                    });

                    // Add the mask to body
                    $('body').append('<div id="mask"></div>');
                    $('#mask').fadeIn(300);

                    return false;
                });

                // When clicking on the button close or the mask layer the popup closed
                $('a.close, #mask').live('click', function () {
                    $('#mask , .login-popup').fadeOut(300, function () {
                        $('#mask').remove();
                    });
                    return false;
                });
            });
        </script>
        <link rel="canonical" href="http://www.alessioatzeni.com/wp-content/tutorials/jquery/login-box-modal-dialog-window/index.html" />
    </head>
    <body>
        <h1>Best Practices for ASP.NET MVC Application</h1>
        <div class="container">
            <div id="content">
	
                <div class="post">
                    <h2>Your Login or Sign In Box</h2>
                    <div class="btn-sign" style="margin-top: 0.6em;">
                        <a href="#login-box" class="login-window">Login / Sign In</a>
                    </div>
                </div>
		
                <div id="login-box" class="login-popup">
                    <a href="#" class="close"><img src="@Url.Content("~/Content/themes/base/images/close_pop.png")" class="btn_close" title="Close Window" alt="Close" /></a>
                    <form method="post" class="signin" action="#">
                        <fieldset class="textbox">
                            <label class="username">
                                <span>Username or email</span>
                                <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username" />
                            </label>
				
                            <label class="password">
                                <span>Password</span>
                                <input id="password" name="password" value="" type="password" placeholder="Password" />
                            </label>
				
                            <button class="submit button" type="button">Sign in</button>
				
                            <p>
                                <a class="forgot" href="#">Forgot your password?</a>
                            </p>
                            <p>
                                @*@Html.ActionLink("Sign Up Now", "Signup", "Account")*@
                                <a href="#signup-box" class="login-window">Sign Up Now</a>
                            </p>
				
                        </fieldset>
                    </form>
                </div>
                
                <div id="signup-box" class="login-popup">
                    <a href="#" class="close"><img src="@Url.Content("~/Content/themes/base/images/close_pop.png")" class="btn_close" title="Close Window" alt="Close" /></a>
                    <div id="div-regForm">
                        <div class="form-title">Sign Up</div>
                        <div class="form-sub-title">It's free and anyone can join</div>

                        <form id="regForm" action="submit.php" method="post">

                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="fname">First Name:</label></td>
                                        <td><div class="input-container"><input name="fname" id="fname" type="text" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><label for="lname">Last Name:</label></td>
                                        <td><div class="input-container"><input name="lname" id="lname" type="text" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><label for="email">Your Email:</label></td>
                                        <td><div class="input-container"><input name="email" id="email" type="text" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><label for="pass">New Password:</label></td>
                                        <td><div class="input-container"><input name="pass" id="pass" type="password" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><label for="sex-select">I am:</label></td>
                                        <td>
                                            <div class="input-container">
                                                <select name="sex-select" id="sex-select">
                                                    <option value="0">Select Sex:</option>
                                                    <option value="1">Female</option>
                                                    <option value="2">Male</option>
                                                </select>
                                            </div>
    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>Birthday:</label></td>
                                        <td>
                                            <div class="input-container">
                                                <select name="month"><option value="0">Month:</option></select>
                                                <select name="day"><option value="0">Day:</option></select>
                                                <select name="year"><option value="0">Year:</option></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td><input type="submit" class="greenButton" value="Sign Up" /><img id="loading" src="@Url.Content("~/Content/themes/base/images/ajax-loader.gif")" alt="working.." />
                                        </td>
                                    </tr>
  
  
                                </tbody>
                            </table>

                        </form>

                        <div id="error">
                            &nbsp;
                        </div>

                    </div>
                </div>
		
                <div class="post">
                    @using (Html.BeginForm("Authenticate", "Account", FormMethod.Post, new { id = "authForm" }))
                    {
                        <h2>Login with social network account</h2>
                        <div style="text-align: center; margin-top: 1.5em;">
                            <a href="javascript:auth.signin('facebook');"><img src="@Url.Content("~/Content/themes/base/images/facebook-icon.png")" alt=""/></a>
                            <a href="javascript:auth.signin('twitter');"><img src="@Url.Content("~/Content/themes/base/images/twittericon.png")" alt=""/></a>
                            <a href="javascript:auth.signin('google');"><img src="@Url.Content("~/Content/themes/base/images/google_mail_logo_100x100.png")" alt=""/></a>
                            <a href="#"><img src="@Url.Content("~/Content/themes/base/images/yahoout0.png")" alt=""/></a>
                            <a href="#"><img src="@Url.Content("~/Content/themes/base/images/_linkedin.png")" alt=""/></a>
                        </div>
                        <input type="hidden" id="authType" name="authType" value="1"/>
                    }
                </div>
            </div>
        </div>
    </body>
</html>
