@model ThumbnailPagination.Models.ThumbnailViewModel
@{
    ViewBag.Title = "Home Page";
}


 

<div class="container">
    <div class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3">


        <div class="row">
            <nav aria-label="...">
                <ul class="pager" role="tablist">
                    <li class="previous" onclick="goTo(1);"><a href="#"><span aria-hidden="true">←</span> Previous</a></li>
                    @{
                        foreach (var item in Model.ThumbnailModelList)
                        {
                            if (item.Thumbnail_ItemPosition == "first")
                            {
                                <li class="active" id="@item.Thumbnail_ItemPosition">
                                    <a aria-controls="@item.Thumbnail_Aria_Controls" data-toggle="tab" href="@item.Thumbnail_Href" role="tab">@item.ThumbnailTabNo</a>
                                </li>
                            }


                            else if (item.Thumbnail_ItemPosition == "last")
                            {
                                <li id="@item.Thumbnail_ItemPosition">
                                    <a aria-controls="@item.Thumbnail_Aria_Controls" data-toggle="tab" href="@item.Thumbnail_Href" role="tab">@item.ThumbnailTabNo</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a aria-controls="@item.Thumbnail_Aria_Controls" data-toggle="tab" href="@item.Thumbnail_Href" role="tab">@item.ThumbnailTabNo</a>
                                </li>
                            }

                        }
                    }
                    <li class="next" onclick="goTo(2);"><a href="#">Next <span aria-hidden="true">→</span></a></li>
                </ul>
            </nav>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">

            @{
                foreach (var item in Model.ThumbnailModelList)
                {
                    if (item.Thumbnail_ItemPosition == "first")
                    {

                        <div class="tab-pane active" id="@item.ThumbnailTabId" role="tabpanel">

                            @{

                                foreach (var detailsitem in item.ThumbnailDetailsList)
                                {
                                    <div class="col-sm-6">
                                        <div class="thumbnail">
                                            <img alt="..." src="http://placehold.it/240x150">
                                            <div class="caption">
                                                <h3>@detailsitem.Details1</h3>
                                                <p>
                                                    @detailsitem.Details2
                                                </p>
                                                <p>
                                                    <a class="btn btn-primary" href="#" role="button">
                                                        Read more
                                                        ...
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                                }
                                else
                                {
                                    <div class="tab-pane" id="@item.ThumbnailTabId" role="tabpanel">

                                        @{

                                            foreach (var detailsitem in item.ThumbnailDetailsList)
                                            {
                                                <div class="col-sm-6">
                                                    <div class="thumbnail">
                                                        <img alt="..." src="http://placehold.it/240x150">
                                                        <div class="caption">
                                                            <h3>@detailsitem.Details1</h3>
                                                            <p>
                                                                @detailsitem.Details2
                                                            </p>
                                                            <p>
                                                                <a class="btn btn-primary" href="#" role="button">
                                                                    Read more
                                                                    ...
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }


                                    </div>
                                                }

                                            }
            }

        </div>





    </div>
</div>

<style>
    .pager .active a {
        background-color: #337AB7;
        color: #FFF;
        border: 0px;
    }
</style>

<script>

    function goTo(number) {
        $('ul.pager li:eq(' + number + ') a').tab('show');
        upgradePreNext(number);
    }
    function upgradePreNext(number) {
        if (number > 1) {
            $('ul.pager li:eq(0)').attr("onclick", "goTo(" + (number - 1) + ")");
            $('ul.pager li:eq(0)').attr("class", "previous");
        } else {
            $('ul.pager li:eq(0)').attr("class", "disabled");
        }
        if (number < 5) {
            $('ul.pager li:eq(6)').attr("onclick", "goTo(" + (number + 1) + ")");
            $('ul.pager li:eq(6)').attr("class", "next");
        } else {
            $('ul.pager li:eq(6)').attr("class", "disabled");
        }
    }
    $(document).ready(function () {
        $('li a').on('click', function (e) {
            goTo((e.target.innerHTML) - 0);
        });
    });

</script>

