@model mvcAlbum.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<div class="display-label"> 
    @Html.LabelFor(model => model.Images) 
</div> 
<div class="display-field"> 
    <table> 
        <tr> 
            <th>Image ID</th> 
            <th>Image Name</th> 
        </tr> 
        @foreach (var item in Model.Images) 
        { 
            <tr> 
                <td> 
                    @Html.DisplayFor(modelItem => item.ImageID) 
                </td> 
                <td> 
                    @Html.DisplayFor(modelItem => item.ImageName) 
                </td> 
                 <td> 
                    @Html.DisplayFor(modelItem => item.Manufactures.Name) 
                </td>
                                 <td> 
                    @Html.DisplayFor(modelItem => item.Suppliers.Name) 
                </td>  
            </tr> 
        } 
    </table> 
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
