<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajax Form in MVC</title>
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
