@model ReadInboxEmail.WebApplication.Models.DashBoardMailBoxJob
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h3> Mail Box >> @Html.DisplayFor(m => m.mess)</h3>


<div class="row" id="asd">
    <div class="col-md-6">
        <table class="table table-bordered" id="example2">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Sender</th>
                    <th>Subject</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.Inbox)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.sendDate)</td>
                            <td>@Html.DisplayFor(m => item.sender)</td>
                            <td id="@item.UID">
                                <a href='@Url.Action("GetMessegeBody", "MailBox", new { id = item.UID })'>
                                    @Html.DisplayFor(m => item.subject)
                                </a>
                            </td>

                        </tr>
                    }
                }
            </tbody>

        </table>

    </div>

</div>
 



