@model IEnumerable<Mvc3Razor.Models.UserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table>
        <tr>
            <th></th>
            <th>
                UserName
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                City
            </th>
        </tr>

    @foreach (var item in Model) {
    
        <tr>
            <td>
				@Html.ActionLink("Edit", "Edit", new {  id=item.UserName  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.UserName  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.UserName  })
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.City
            </td>
        </tr>
    
    }

    </table>


